
.ms-line{
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.star-row-gray{
    color: black;
    font-size: 1.25rem;
}
.star-row-white{
    color: white;
    font-size: 1.25rem;
}
.ms-color-white{
    color: white;
}
.ms-bg-white{
    background-color: white;
}


/* star */
.ms-box{
    width: 500px;
    height:300px;
    background-color: azure;
}
.ms-box-star{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms-line-star{
    width: 100px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.ms-line-star-2{
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Input */
.ms-input{
    border: none;
}
.ms-label-textarea{
    vertical-align: top;
}
textarea{
    border: none;
}
.ms-submit-button{
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 188, 156);
    color: white;
}

/* Button */
.ms-download-button{
    width: 120px;
    font-size: .875rem;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-top: .9375rem;
    text-align: center;
    color: white;
    text-decoration: none;
}
.ms-fo-icon{
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}
.ms-fo-icon:first-of-type{
    padding-left: 15;
    padding-right: 15;
}