@import url(component.css);
/* DEBUG */
/* .debug-color-green{
    background-color: green;
    border: 5px solid red;
} */
.debug-color-yellow{
    background-color: yellow;
}
.debug-color-pink{
    background-color: pink;
}


/* HEADER */
header{
    background-color: rgb(43, 61, 78);
    color: white;
}
header a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

/* HERO */
.ms-primary-color{
    background-color: rgb(26, 188, 156);
}

/* PORTFOLIO */
.ms-portfolio-wide{
    max-width: 70%;
}
.portfolio img{
    max-width: 100%;
    border-radius: 5%;
}

/* ABOUT & CONTACT ME */
.ms-section-wide{
    max-width: 60%;
}

/* FOOTER */
footer{
    background-color: rgb(58, 84, 109);
    color: white;
}
.ms-tertiary-color{
    background-color: rgb(44, 62, 80);
}