
/* DEBUG */
.debug-color-green{
    background-color: green;
    border: 5px solid red;
}



/* HEADER */
header{
    background-color: rgb(43, 61, 78);
    color: white;
}

/* HERO */
.ms-primary-color{
    background-color: rgb(26, 188, 156);
}